# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# JavaScript / Node
node_modules/
dist/
.DS_Store
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

# General
.vscode/
.idea/
*.log
uploads/
processed/
